# Cars Analysis and Predictions

## Objectives
Here we're going to analyse cars price and 

+ Linear Regression
+ Logistic Regression

**Note** *-> This is not for public purposes this is only for local and selfstudy purpose, for public purposes like git or github create new and professional projects seperately from this one in new totaly new directry.*

## 1. Linear Regression

### Step 1: Collect the Data

In [1]:
# importing needed liabreries
import pandas as pd

# importing data from csv file
cars = pd.read_csv('data/CAR DETAILS FROM CAR DEKHO.csv')

# preview
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

### Step 2: Explore the Data