# Car Selling Price Predictions using Linear Regression

In [ ]:
import pandas as pd
cars = pd.read_csv('data/CAR DETAILS FROM CAR DEKHO.csv')
cars.head()

In [ ]:
cars.info()

In [ ]:
cars.describe()

In [ ]:
%matplotlib inline
cars.plot(kind='scatter',x='year',y='selling_price')

In [ ]:
cars.plot(kind='scatter',x='km_driven',y='selling_price')

In [ ]:
response = 'selling_price'
y = cars[[response]]
y

In [ ]:
remove_some = 'seller_type','name','fuel','transmission','owner'
not_now_needed = cars[[remove_some]]
# rem = pd.to_numeric(not_now_needed)
# # st = 'seller_type'
# seller_type = cars.seller_type
# # n = 'name'
# name = cars.name
# # f = 'fuel'
# fuel = cars.fuel
# # t = 'transmission'
# transmission = cars.
# # o = 'owner'
# owner = cars.owner

In [ ]:
st = pd.to_numeric(cars[['selling_type']])
st

In [ ]:
predictors = list(cars.columns)
predictors.remove(response)
predictors.remove(seller_type)
# predictors.remove(name)
# predictors.remove(fuel)
# predictors.remove(transmission)
# predictors.remove(owner)
# predictors.remove(not_now_needed)
x = cars[predictors]
x

In [6]:
# import pandas as pd
# cars = pd.read_csv('data/CAR DETAILS FROM CAR DEKHO.csv')
# cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [11]:
# Cars new dataset 
# cds = ['year','selling_price','km_driven']
# cars_dataset = cars[cds].to_csv(path_or_buf='data/cars_dataset.csv',sep=',',header=True)
# cars_dataset.info()

AttributeError: 'NoneType' object has no attribute 'info'